/* Font importation */
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Universal Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "K2D", sans-serif;
}

body {
	background-color: #000;
	font-family: "K2D", sans-serif;
}

/* Particles Style */

/* ---- reset ---- */

body {
	margin: 0;
	font: normal 75% "K2D", sans-serif;
}

canvas {
	display: block;
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -10;
}

/* Preloader */

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 4s ease-in, visibility 4s ease-in;
	z-index: 1000;
}

.loader::after {
	content: "";
	width: 22px;
	height: 22px;
	border: 8px solid #565656;
	border-top-color: #00d4bc;
	border-radius: 50%;
	animation: spinning 1s ease infinite;
}

@keyframes spinning {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

/* Navbar styles Desktop/laptop */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 5%;
	background-color: #00000000;
	backdrop-filter: blur(2px);
	padding: 1% 2%;
}

.logo {
	max-width: 5%;
	height: auto;
	overflow: hidden;
	border-radius: 20%;
}

.links-desktop {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
}

.links-desktop a {
	position: relative;
	text-decoration: none;
	color: #f9f9f9f9;
	font-size: 1rem;
	transition: color 0.2s linear;
}

.links-desktop a:hover {
	color: #00d4bc;
}

.links-desktop a::before {
	content: "";
	position: absolute;
	bottom: -3px;
	height: 1.5px;
	width: 100%;
	background-color: #00d4bc;
	border-radius: 50px;
	transform: scaleX(0);
	transition: transform 0.1s linear;
}

.links-desktop a:hover::before {
	transform: scaleX(1);
}

/* Navbar Mobile-Tablet */
.links-mobile-tablet {
	display: none;
	position: fixed;
	opacity: 0;
	height: auto;
	width: 40%;
	background-color: #000000c2;
	backdrop-filter: blur(10px);
	right: 0%;
	top: 2vh;
	border-radius: 15px;
	text-align: center;
	transition: 0.5s ease;
}

.slide {
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	transition: 0.5s ease;
}

.slide li {
	margin: 50% auto;
}

.slide li a {
	text-decoration: none;
	color: #f9f9f9f9;
	font-size: 1.2rem;
	display: block;
	transition: 0.2s ease-out;
}

/* Toggle button */

.toggle {
	display: none;
	position: fixed;
	top: 3vh;
	right: 3vw;
	height: 48px;
	width: 48px;
	padding: 8px;
	background-color: #000000a4;
	backdrop-filter: blur(10px);
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(256, 256, 256, 0.4);
	z-index: 11;
}

.toggle .common {
	position: absolute;
	height: 2px;
	width: 12px;
	background-color: #f9f9f9f9;
	border-radius: 50px;
	transition: 0.3s ease;
}

.toggle .top_line {
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.toggle .middle_line {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.toggle .bottom_line {
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Keyframe of the entire navbar. Mobiles and Desktop */
@media only screen and (max-width: 768px) {
	.nav {
		max-height: 10%;
		background-color: transparent;
		padding: 3% 3.5%;
	}

	.logo {
		max-width: 10%;
		height: auto;
		overflow: hidden;
	}

	.links-mobile-tablet {
		display: block;
	}

	.links-desktop {
		display: none;
	}

	.toggle {
		display: inline-block;
		position: fixed;
	}
}

@media only screen and (max-width: 500px) {
	.nav {
		max-height: 15%;
		background-color: transparent;
		padding: 3% 3.5%;
	}

	.logo {
		max-width: 15%;
		height: auto;
		overflow: hidden;
	}

	.links-mobile-tablet {
		display: block;
		width: 75%;
	}

	.links-desktop {
		display: none;
	}

	.toggle {
		display: inline-block;
	}
}

@media only screen and (max-width: 375px) {
	.nav {
		max-height: 15%;
		background-color: transparent;
		padding: 4.5% 3.5%;
	}

	.logo {
		max-width: 20%;
		height: auto;
		overflow: hidden;
	}

	.links-mobile-tablet {
		display: block;
		width: 98%;
	}

	.links-desktop {
		display: none;
	}

	.toggle {
		display: inline-block;
	}
}

/* Banner */

.banner {
	position: relative;
	display: grid;
	place-items: center;
	width: 100%;
	height: 92vh;
	z-index: 0;
}

.banner-description {
	position: absolute;
	width: 30vw;
	height: 20vh;
	margin-top: -55vh;
	margin-left: -40vw;
	z-index: 0;
}

.banner-title {
	color: #f9f9f9f9;
	font-size: 2.4vw;
	font-weight: 400;
}

#ricardo {
	color: #00d4bc;
	font-weight: 600;
	letter-spacing: 1px;
}

.banner-subheading {
	position: relative;
	display: inline-block;
	width: fit-content;
	margin-top: 2vh;
}

.banner-subheading::before {
	content: "Software Developer";
	color: #00d4bc;
	font-size: 2.2vw;
	animation: words 20s infinite;
}

.banner-subheading::after {
	content: "";
	position: absolute;
	width: calc(100% + 8px);
	height: 100%;
	background-color: #000;
	padding: 2px;
	border-left: 2px solid #00d4bc;
	right: -8px;
	animation: cursor 0.8s infinite, typing 20s steps(15) infinite;
}

@keyframes cursor {
	to {
		border-left: 2px solid #00d4bc00;
	}
}

@keyframes typing {
	10%,
	15%,
	30%,
	35%,
	50%,
	55%,
	70%,
	75%,
	90%,
	95% {
		width: 0;
	}
	5%,
	20%,
	25%,
	40%,
	45%,
	60%,
	65%,
	80%,
	85% {
		width: calc(100% + 8px);
	}
}

@keyframes words {
	0%,
	20% {
		content: "Software Developer";
	}
	21%,
	40% {
		content: "Front-End Developer";
	}
	41%,
	60% {
		content: "Web Designer";
	}
	61%,
	80% {
		content: "UX Developer";
	}
	81%,
	100% {
		content: "UI Developer";
	}
}

/* Model Hero */

.hero-model {
	position: absolute;
	top: -3.5vh;
	z-index: 3;
}

model-viewer {
	width: 60vw;
	height: 90vh;
	z-index: 3;
	overflow: hidden;
}

@media only screen and (max-width: 988px) {
	.hero-model {
		top: 0vh;
	}

	model-viewer {
		width: 64vw;
		height: 88vh;
	}
}

@media only screen and (max-width: 870px) {
	model-viewer {
		width: 68vw;
		height: 84vh;
	}
}

@media only screen and (max-width: 790px) {
	.hero-model {
		top: 2vh;
	}

	model-viewer {
		width: 72vw;
		height: 82vh;
	}
}

@media only screen and (max-width: 768px) {
	.banner-description {
		width: 40vw;
	}

	.banner-title {
		font-size: 5vw;
	}

	.banner-subheading::before {
		font-size: 3vw;
	}

	.hero-model {
		top: 5vh;
	}

	model-viewer {
		width: 80vw;
		height: 70vh;
	}
}

@media only screen and (max-width: 560px) {
	.banner-description {
		width: 60vw;
		margin-left: -25vw;
		margin-top: -55vh;
	}

	.banner-title {
		font-size: 8vw;
	}

	.banner-subheading::before {
		font-size: 5.5vw;
	}

	.hero-model {
		top: 10vh;
	}

	model-viewer {
		width: 98vw;
		height: 60vh;
	}
}

@media only screen and (max-width: 425px) {
	.banner-description {
		width: 60vw;
		margin-left: -25vw;
		margin-top: -55vh;
	}

	.banner-title {
		font-size: 8vw;
	}

	.banner-subheading::before {
		font-size: 5.5vw;
	}

	.hero-model {
		top: 10vh;
	}

	model-viewer {
		width: 98vw;
		height: 60vh;
	}
}

@media only screen and (max-width: 375px) {
	.banner-description {
		width: 80vw;
		margin-left: -5vw;
		margin-top: -45vh;
	}

	.banner-title {
		font-size: 10vw;
	}

	.banner-subheading::before {
		font-size: 7.5vw;
	}

	.hero-model {
		top: 10vh;
	}

	model-viewer {
		width: 96vw;
		height: 60vh;
	}
}

@media only screen and (max-width: 325px) {
	.hero-model {
		top: 10vh;
	}

	model-viewer {
		width: 94vw;
		height: 60vh;
	}
}

/* About Me section */

.about-me-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10vh;
	height: 100vh;
}

.about-me {
	display: inline-block;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	place-items: center;
	height: 80%;
	width: 75%;
	margin: 0 auto;
	padding: 0 4vw;
	background: hsla(207, 51%, 27%, 1);
	background: linear-gradient(
		90deg,
		hsla(207, 51%, 27%, 1) 0%,
		hsla(191, 35%, 23%, 1) 50%,
		hsla(205, 54%, 10%, 1) 100%
	);
	background: -moz-linear-gradient(
		90deg,
		hsla(207, 41%, 27%, 1) 0%,
		hsla(191, 28%, 23%, 1) 50%,
		hsla(205, 46%, 10%, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		hsla(207, 41%, 27%, 1) 0%,
		hsla(191, 28%, 23%, 1) 50%,
		hsla(205, 46%, 10%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#294861", endColorstr="#2a454b", GradientType=1 );
	border-radius: 50px;
	opacity: 0;
	box-shadow: 2px 2px 10px hsla(207, 41%, 27%, 1);
	transform: translateX(-20px) scale(0.9);
	transition: 0.5s ease;
}

.up {
	opacity: 1;
	transform: translateX(0) scale(1);
}

.about-me-description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-start;
	width: 50%;
	height: 75%;
}

.about-me-title {
	font-size: 2vw;
	font-weight: 600;
	color: #f9f9f9f9;
	margin-bottom: 4vh;
	padding: 1% 0;
	transition: all 0.5s ease;
}

.about-me-title:hover {
	color: rgb(0, 212, 188);
	transform: translateY(-6px);
}

.about-me-subheading {
	font-size: 1.2vw;
	max-width: 40ch;
	line-height: 1.5;
	font-weight: 200;
	color: #f9f9f9f9;
	margin-top: 0.5vh;
}

.about-me-strong {
	color: #00d4bc;
	font-weight: 600;
}

.photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 45%;
	height: 100%;
	overflow: visible;
	border-radius: 50px;
	transition: all 0.5s ease;
}

.personal-photo {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50px;
	margin-top: 8vh;
	transition: all 0.5s ease;
}

.personal-photo:hover {
	box-shadow: 6px 6px 0px 3px rgba(0, 0, 0, 0.7);
	transform: translateY(-20px);
}

.svg-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
	height: 20%;
}

.svg-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-height: 100%;
	width: 40%;
}

.svg-container a {
	margin: 0 3%;
	width: 15%;
	clip-path: border-box circle(90%);
	transition: all 0.5s ease;
}

.svg-container a:hover {
	transform: translateY(-10px);
}

.svg {
	width: 100%;
	transition: all 0.5s ease;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 100%;
}

.button {
	position: relative;
	display: inline-block;
	background: linear-gradient(90deg, #00d4bc, #268075);
	width: fit-content;
	margin: 0 auto;
	min-height: 3.5vh;
	padding: 3vh 4vw;
	text-decoration: none;
	border-radius: 50px;
	color: #000000;
	font-size: 1.2rem;
	font-weight: 500;
	box-shadow: 0 0 15px 6px rgba(38, 128, 117, 1);
	overflow: hidden;
}

#button-cv {
	margin: 0 auto;
	text-align: center;
	height: auto;
	width: 100%;
	padding: 10%;
}

.button > span {
	position: absolute;
	background-color: #fff;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	animation: animate 750ms linear infinite;
}

@keyframes animate {
	0% {
		width: 0px;
		height: 0px;
		opacity: 0.5;
	}
	100% {
		width: 600px;
		height: 600px;
		opacity: 0;
	}
}

@media only screen and (max-width: 1220px) {
	.about-me {
		width: 90%;
	}

	.about-me-title {
		font-size: 2rem;
	}

	.about-me-subheading {
		font-size: 1.2rem;
	}

	.button-container {
		width: 60%;
	}
}

@media only screen and (max-width: 912px) {
	.about-me-subheading {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 850px) {
	.about-me-container {
		height: 115vh;
		padding: 10%;
	}

	.about-me {
		flex-flow: column nowrap;
		justify-content: space-around;
		align-content: center;
		height: 100%;
		width: 85%;
		padding: 10%;
	}

	.about-me-description {
		width: 100%;
		margin-top: 10%;
	}

	.about-me-title {
		font-size: 1.75rem;
		text-align: center;
	}

	.about-me-subheading {
		font-size: 1rem;
		text-align: center;
	}

	.photo {
		width: 100%;
		margin-top: 5%;
	}

	.personal-photo {
		max-width: 75%;
		margin: 0 auto;
	}

	.svg-button-container {
		margin: 5% auto;
	}

	.button-container {
		height: 70%;
		width: 60%;
	}

	#button-cv {
		padding: 5%;
	}
}

@media only screen and (max-width: 674px) {
	.about-me {
		padding: 6.5%;
		width: 90%;
	}
}

@media only screen and (max-width: 550px) {
	.about-me-container {
		padding: 10% 6%;
	}

	.about-me {
		padding: 6.5%;
		width: 95%;
	}

	.about-me-title {
		margin-top: 5%;
		font-size: 1.65rem;
	}

	.personal-photo {
		max-width: 85%;
		margin: 0 auto;
	}

	.svg-button-container {
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		height: 28%;
		margin-top: 3%;
	}

	.svg-container {
		justify-content: center;
	}

	.svg-container a {
		width: 18%;
	}

	.button-container {
		height: 50%;
		width: 60%;
		margin-top: 5%;
		margin-bottom: 3%;
	}
}

@media only screen and (max-width: 450px) {
	.about-me-container {
		padding: 10% 4%;
	}

	.about-me {
		padding: 5%;
		width: 100%;
	}
}

@media only screen and (max-width: 375px) {
	.about-me {
		padding: 3.5%;
		width: 100%;
	}
}

/* Projects Section */

.time-line-section {
	position: relative;
	display: grid;
	place-items: center;
	width: 100%;
	height: auto;
	background-color: #000;
	background-size: 100vw;
	padding: 0 10vw;
	margin: 10vh auto;
}

.time-line-content {
	display: grid;
	place-items: center;
	width: 100%;
	padding-bottom: 20vh;
}

.heading-description {
	display: grid;
	place-items: center;
	margin-bottom: 10vh;
	margin-left: -50vw;
}

.time-line-subheading {
	color: #f9f9f9f9;
	font-size: 1.35rem;
	font-weight: 400;
	padding-bottom: 2vh;
}

.time-line-heading {
	color: #f9f9f9f9;
	margin-left: 50vw;
	font-size: 2.3125rem;
	font-weight: 600;
}

.time-line {
	position: relative;
	display: grid;
	place-items: center;
}

.line {
	position: absolute;
	z-index: 2;
	width: 3px;
	top: -7vh;
	background-color: #f9f9f9f9;
}

.line::before,
.line::after {
	position: absolute;
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f9f9f9f9;
	left: 50%;
	transform: translateX(-50%);
}

.line::after {
	bottom: 0;
}

.time-line-project {
	display: flex;
	transform: translateX(-5%);
	transition: 500ms ease;
	position: relative;
	z-index: 1;
	margin: 1.2vh 0;
	padding: 1vw;
	align-items: center;
	width: 100%;
	min-height: 35vh;
	opacity: 0;
}

.time-line-project:nth-child(odd) {
	flex-direction: row-reverse;
	transform: translateX(5%);
}

.mini-circle {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
}

.project-content {
	width: calc(50% - 2vw);
	padding: 2% 2%;
	border-radius: 50px;
	border: 4px solid #00d4bc;
	box-shadow: 0 0 5px 2px #00d4bc;
	overflow: hidden;
	transition: 250ms ease;
}

.project-content:hover {
	box-shadow: 0 0 10px 4px #00d4bc;
}

.show-me:nth-child(n) {
	transform: none;
	opacity: 1;
}

.img-box {
	width: 100%;
	height: auto;
	overflow: visible;
}

.project-img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 50px;
	transition: 0.5s ease;
}

.project-img:hover {
	transform: translateY(-20px);
}

.project-content header {
	text-align: center;
}

.content-timeline-title {
	font-size: 1.5rem;
	font-weight: 600;
	color: #f9f9f9f9;
	margin: 7% auto;
}

.project-content main {
	text-align: center;
}

.content-timeline-description {
	font-size: 1.2rem;
	font-weight: 200;
	color: #f9f9f9ea;
	margin: 7% auto;
	line-height: 1.35;
}

.project-content footer {
	text-align: center;
}

.link-to-page {
	margin: 7% auto;
	font-size: 1.125rem;
	font-weight: 400;
	text-decoration: none;
	color: #f9f9f9f9;
	padding: 2% 12%;
	background-color: transparent;
	border: 3px solid #00d4bc;
	box-shadow: 0 0 5px #00d4bc;
	border-radius: 50px;
	transition: 300ms ease;
}

.link-to-page:hover {
	box-shadow: 0 0 10px #00d4bc;
}

@media only screen and (max-width: 1024px) {
	.time-line-section {
		padding: 0 5vw;
	}
}

@media only screen and (max-width: 850px) {
	.time-line-section {
		padding: 0 3.75%;
	}

	.time-line-project {
		margin: 10% auto;
	}

	.project-content {
		padding: 2% 1.5%;
	}
}

@media only screen and (max-width: 768px) {
	.time-line-project {
		z-index: 3;
	}

	.mini-circle {
		top: -8%;
	}

	.project-content {
		width: 100%;
		padding: 5% 1%;
		background-color: #000;
	}
}

@media only screen and (max-width: 500px) {
	.time-line-section {
		padding: 0 2%;
	}

	.time-line-subheading {
		font-size: 1rem;
		padding-bottom: 2vh;
	}

	.time-line-heading {
		font-size: 1.9rem;
	}

	.project-content {
		border: 2px solid #00d4bc;
		box-shadow: 0 0 3px 0.5px #00d4bc;
		padding-bottom: 7%;
	}

	.content-timeline-title {
		font-size: 1.275rem;
		margin-bottom: 10%;
	}

	.content-timeline-description {
		font-size: 1rem;
		margin: 10% auto;
	}

	.link-to-page {
		font-size: 1rem;
		border: 1.5px solid #00d4bc;
		box-shadow: 0 0 3px #00d4bc;
	}
}

/* Skills Section */

.skills-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	width: 60%;
	height: auto;
	margin: 0 auto 10% auto;
}

.skills-title {
	text-align: center;
	margin: 7% auto;
	font-size: 1.5rem;
	font-weight: 600;
	color: #f9f9f9f9;
}

.skills-big-container {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 1;
	justify-content: center;
	align-items: center;
	height: auto;
}

.skill-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 8px;
	width: 157px;
	margin: 4% auto;
	opacity: 0.5;
	transition: 0.3s ease;
}

.skill-container:hover {
	opacity: 1;
}

.skill-container::after {
	content: "";
	position: absolute;
	top: 8px;
	width: 130px;
	height: 95px;
	z-index: -1;
	background-color: #2b2b2b;
	border-radius: 20px;
}

.skill-img {
	margin: 4% auto 0 auto;
	max-width: 76px;
}

#js-img {
	max-width: 76px;
}

@media only screen and (max-width: 768px){
	.skill-container {
		opacity: 1;
		margin: 7.5% auto;
	}
}

/* Certifications Section */

.certifications-section {
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0 auto 15% auto;
}

.certifications-title {
	margin: 4% auto;
	font-size: 1.5rem;
	font-weight: 600;
	color: #f9f9f9f9;
}

.certifications-subheading {
	margin: 0 auto 5% auto;
	font-size: 1.25rem;
	font-weight: 200;
	color: #f9f9f9f9;
	max-width: 65ch;
}

.grid-container {
	display: grid;
	margin: 5% auto;
	width: 50%;
	height: auto;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	grid-template-areas:
		"js twilio"
		"backend microservices";
	gap: 7.5% 7.5%;
}

.js {
	grid-area: js;
}

.twilio {
	grid-area: twilio;
}

.backend {
	grid-area: backend;
}

.microservices {
	grid-area: microservices;
}

.certification-item {
	padding: 2%;
	background: hsla(0, 0%, 0%, 1);
	background: linear-gradient(
		45deg,
		hsla(0, 0%, 0%, 1) 0%,
		hsla(173, 100%, 15%, 1) 100%
	);
	background: -moz-linear-gradient(
		45deg,
		hsla(0, 0%, 0%, 1) 0%,
		hsla(173, 100%, 15%, 1) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsla(0, 0%, 0%, 1) 0%,
		hsla(173, 100%, 15%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#004E45", GradientType=1 );
	border-radius: 20px;
	transition: 150ms ease;
}

.certification-item:hover {
	box-shadow: 0 0 20px 4px hsl(173, 100%, 15%);
}

.certification-item header {
	position: relative;
	width: 100%;
}

.certification-item header::after {
	content: "Check Certification";
	top: 45%;
	left: 32.5%;
	position: absolute;
	color: #f9f9f9f9;
	font-size: 1vw;
	padding: 1%;
	background-color: #0000007c;
	border-radius: 50px;
	text-align: center;
	z-index: 1;
	opacity: 0;
	transition: 0.4s ease;
}

.certification-item header:hover::after {
	opacity: 1;
}

.certification-item header img {
	position: relative;
	top: 10px;
	margin: auto;
	max-width: 75%;
	opacity: 0.8;
}

.certification-item header img:hover {
	opacity: 0.5;
}

.certification-item main {
	margin: 10% auto 5% auto;
}

.certification-item main p {
	margin: 3% auto;
	max-width: 75%;
	font-size: 0.9rem;
	color: #f9f9f9ea;
}

@media only screen and (max-width: 1024px){
	.grid-container {
		width: 70%;
	}
}

@media only screen and (max-width: 860px){
	.certifications-subheading {
		font-size: 1rem;
		width: 40ch;
	}

	.grid-container {
		width: 80%;
	}
}

@media only screen and (max-width: 650px){
	.certifications-subheading {
		font-size: .8rem;
		width: 40ch;
	}

	.grid-container {
		width: 90%;
	}

	.certification-item main p {
		font-size: 0.6rem;
		max-width: 85%;
	}
}

@media only screen and (max-width: 500px){
	.grid-container {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-content: center;
		width: 70%;
	}

	.certification-item {
		margin: 5% auto;
	}

	.certification-item main p {
		font-size: .85rem;
	}
}

@media only screen and (max-width: 425px){
	.certification-item main p {
		font-size: .75rem;
		max-width: 90%;
	}
}

@media only screen and (max-width: 375px){
	.grid-container {
		width: 90%;
	}

	.certifications-subheading {
		font-size: .7rem;
	}
}

/* Contact Me Section */

.contact-me {
	text-align: center;
	margin: 10% auto;
}

#contact-me-button {
	margin: 0 auto;
}

@media only screen and (max-width: 500px){
	#contact-me-button {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 425px){
	#contact-me-button {
		font-size: .9rem;
		padding: 3vh 5vw;
	}
}

/* Footer */

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 17vh;
	background-color: #181818;
}

.footer p {
	font-size: .9rem;
	font-weight: 200;
	text-align: center;
	letter-spacing: 1px;
	margin: .3% auto;
	color: #f9f9f9f9;
}

.footer > p > a{
	font-weight: 400;
	color: #00d4bc;
	transition: 100ms ease;
}

.footer > p > a:hover {
	text-decoration: none;
	color: #00d4bbd8;
}

@media only screen and (max-width: 425px){
	.footer p {
		font-size: .65rem;
	}
}